@import "tailwindcss";

@theme {
  --font-family-display: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* 3D perspective for modal animation */
.perspective-1000 {
  perspective: 1000px;
}